body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 247, 249);
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 450px;
    margin: 50px auto;
    padding: 30px;
    background: rgb(229, 226, 226);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input  {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #111;
}

button {
    background-color: rgb(10, 66, 115);
    color: white;
    width: 50%;
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid #111;
}

button:hover {
    background: #030d0e;
}