body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(19, 19, 14, 0.62), rgba(131, 25, 177, 0.8)), url(img/table-setting.jpg);
    color: #333;
}

.form-container {
    width: 60%;
    height: 500px;
    margin: 30px auto;
    padding: 50px;
    background-color: #f2f1f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #080a0c;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 35px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #161212;
}

input[type="text"], 
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #050505;
    border-radius: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.btn-submit {
    display: inline-block;
    width: 20%;
    padding: 15px;
    background-color: #020304;
    color: #fff;
    font-size: 19px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
}

.btn-submit:hover {
    background-color: #6f1b90;
}
