 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

 .profile-container, .edit-container {
    max-width: 500px;
    height: 550px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .title {
    font-size: 24px;
    margin-bottom: 30px;
    color: #0e0d0d;
}

 .profile-card {
    display: flex;
    flex-direction: column;
 }

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid #ddd;
}

.profile-details {
    text-align: left;
    margin-bottom: 30px;
    color: #0b0a0a;
}

.profile-details p {
    margin: 20px 0;
}

 .edit-btn, .save-btn {
    display: flex;
    background-color: #050606;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width: 25%;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #0056b3;
}

 .edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.edit-form label {
    font-weight: bold;
    color: #100d0d;
}

.edit-form input {
    padding: 10px;
    border: 1px solid #090808;
    border-radius: 5px;
}

.edit-form input:focus {
    border-color: #007bff;
    outline: none;
}
