
body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
}


h2 {
    color: #333;
    text-align: center;
}

.form-container {
    background: linear-gradient(45deg, #f7f8f8, #060a06);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin:  auto;
    margin-right: 100px;
    padding: 50px;
    max-width: 1000px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

label {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #120d0d;
    border-radius: 40px;
 }

button {
    background-color: #0e0f10;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

button:hover {
    background-color: #172340;
}

textarea {
    resize: horizontal;
     height: 100px;
}

 